body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background: white;
    user-select: none;
}

body::-webkit-scrollbar {
    display: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: white;
    text-align: center;
}

#timer {
    font-size: 40px;
}

#interval {
    align-self: center;
    font-size: 30px;
}

.controls > div {
    cursor: pointer;
    float: left;
}

.controls{
    overflow: hidden;
}

.control-button{
    float: left;
    width: 33.3%;
    background-color: black;
    color: white;
    text-align: center;
    border: 1px solid white;
    padding: 10px;
    box-sizing: border-box;
    border-radius:5px;
}

.control-button:hover {
    opacity: 0.7;
}